:root {
  --before-bg: #4ecdc4;
  --after-color: #4ecdc4;
  --background-soft: #feefce;
}

* {
  box-sizing: border-box;
}

.line_etapas_check {
  transition: height 0.3s ease;
}

.bi-app::before {
  height: 22px;
  width: 22px;
  border-radius: 7px;
  background: var(--before-bg, transparent);
}
.button {
  background-color: #f29d42;
}
.tickets_create::after,
.disponible_dates::after {
  content: "";
  width: auto;
  height: 2px;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #fff;
  border-top: 7px solid var(--after-color, transparent);
}

#mainCalendar .fc-button-primary {
  background-color: #ffffff !important;
  border-color: #b3d7ef !important;
  color: #565656 !important;
  border-radius: 22px;
}

#mainCalendar {
  height: 100vh;
  background: var(--background-soft);
  border-radius: 10px;
  padding: 22px;
  padding-left: 0;
  color: #565656;
}

#mainCalendar .fc-toolbar-title {
  font-size: 1.4rem !important;
  font-weight: bold;
}

#mainCalendar .fc-v-event .fc-event-title {
  font-size: 0.6rem;
}

#mainCalendar .fc-list-event-dot {
  width: 10px;
}

#mainCalendar .fc-scrollgrid-liquid {
  border-radius: 22px;
  overflow: hidden;
  background-color: #fff;
}

#miniCalendar .fc-scrollgrid-liquid {
  border: none;
  overflow: hidden;
  background-color: #ffffff00;
}

#miniCalendar .fc-button-primary {
  background-color: var(--background-soft) !important;
  border: none !important;
  color: #565656 !important;
  border-radius: 22px;
  padding: 0.3rem;
  font-size: 0.9rem;
}

#miniCalendar .fc-scroller-harness .fc-scroller {
  display: flex;
  justify-content: center;
}

#miniCalendar .fc .fc-daygrid-body {
  display: flex;
  justify-content: center;
}

#miniCalendar .fc-daygrid-day.fc-day-today .fc-daygrid-day-top {
  border-radius: 9px;
  background-color: #2582ca !important;
  border: none !important;
  color: #ffffff !important;
  padding: 0 1px;
}
#miniCalendar .fc-daygrid-day.fc-day-today {
  background-color: transparent !important;
}

#miniCalendar .fc-toolbar-title {
  font-size: 1rem !important;
  font-weight: bold;
}

#miniCalendar .fc-daygrid-day-number {
  font-size: 0.7rem;
}

#miniCalendar .fc-button-primary:not(:disabled).fc-button-active:focus,
#miniCalendar .fc-button-primary:not(:disabled):active:focus,
#miniCalendar .fc-button:focus,
#miniCalendar .fc-button:active:focus,
#miniCalendar .fc-button-primary:focus {
  box-shadow: none !important;
}

#miniCalendar .fc-toolbar.fc-header-toolbar {
  margin-bottom: 0.5rem !important;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#miniCalendar {
  width: 100%;
  margin: 0;
  background: var(--background-soft);
  border-radius: 10px;
  padding: 0.5rem 1.5rem;
  color: #565656;
  height: 353px;
}

#miniCalendar .fc-scroller-liquid-absolute {
  overflow: hidden !important;
}

#miniCalendar .fc-daygrid-day-frame {
  display: flex;
  align-items: center;
  justify-content: center;
}

#miniCalendar .fc-col-header-cell-cushion {
  text-transform: uppercase;
}

#miniCalendar td,
#miniCalendar th {
  border-color: #e8e8e800 !important;
}

#rangeCalendar .fc-scrollgrid-liquid {
  border: none;
  overflow: hidden;
  background-color: #ffffff00;
}

#rangeCalendar .fc-button-primary {
  background: var(--background-soft) !important;
  border: none !important;
  color: #565656 !important;
  border-radius: 22px;
  padding: 0.3rem;
  font-size: 0.9rem;
}

#rangeCalendar .fc-scroller-harness .fc-scroller {
  display: flex;
  justify-content: center;
}

#rangeCalendar .fc .fc-daygrid-body {
  display: flex;
  justify-content: center;
}
.calendar-sweet {
  background-color: #fbe6c3;
  border-radius: 10px;
  box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.47);
  -webkit-box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.47);
  -moz-box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.47);
  padding: 0px 0px 45px 0px;
  height: 100%;
}
#rangeCalendar .fc-daygrid-day.fc-day-today .fc-daygrid-day-top a {
  background: #f29d42;
  border-radius: 12px;
  color: #fff;
  font-weight: 600;
  padding: 3px 5px;
  transform: translateX(2px);
}

#rangeCalendar .fc-daygrid-day.fc-day-today {
  background-color: transparent !important;
}

#rangeCalendar .fc-daygrid-day-bg .fc-highlight {
  z-index: 3;
  border-radius: 10px;
  background: #bbdff7 !important;
  border: solid #496d8ca1 !important;
  box-shadow: inset 10px -5px 15px #8db4eb;
}

#rangeCalendar .fc-daygrid-day-bg .fc-bg-event {
  z-index: 2;
  color: #fff !important;
  border-radius: 8px !important;
  background: #bbdff7 !important;
  border: solid #496d8ca1 !important;
  box-shadow: inset 10px -5px 15px #8db4eb;
  opacity: 1 !important;
}

#rangeCalendar .fc-toolbar-title {
  font-size: 1rem !important;
  font-weight: bold;
}

#rangeCalendar .fc-daygrid-day-number {
  font-size: 0.7rem;
  transform: translateX(2px);
}

.fc .fc-daygrid-day-number {
  padding: 4px 6px !important;
}

#rangeCalendar .fc-button-primary:not(:disabled).fc-button-active:focus,
#rangeCalendar .fc-button-primary:not(:disabled):active:focus,
#rangeCalendar .fc-button:focus,
#rangeCalendar .fc-button:active:focus,
#rangeCalendar .fc-button-primary:focus {
  box-shadow: none !important;
}

#rangeCalendar .fc-toolbar.fc-header-toolbar {
  margin-bottom: 0.5rem !important;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.text-calendar-previous {
  background: #fff5de;
  border-radius: 10px;
  font-size: 15px;
  position: absolute;
  top: 10px;
  padding: 11px 20px 0px 23px;
}

#rangeCalendar {
  width: 100%;
  margin: 0;
  background: #fff5de;
  border-radius: 10px;
  padding: 0 1.5rem;
  color: #565656;
  height: 275px;
}

#rangeCalendar .fc-day-other .fc-daygrid-day-top {
  z-index: 5;
}

#rangeCalendar .fc-scroller-liquid-absolute {
  overflow: hidden !important;
}

#rangeCalendar .fc-daygrid-day-frame {
  display: flex;
  align-items: center;
  justify-content: center;
}

#rangeCalendar .fc-col-header-cell-cushion {
  text-transform: uppercase;
}

#rangeCalendar td,
#rangeCalendar th {
  border-color: #e8e8e800 !important;
}

.fc fc-media-screen fc-direction-ltr fc-theme-standard {
  background: var(--background-soft) !important;
}

/* Estiliza eventos */
.fc-event {
  border: none !important;
  padding: 3px 6px;
  font-size: 0.9rem;
  border-radius: 6px !important;
}

.fc-theme-standard td,
.fc-theme-standard th {
  border-color: #e8e8e8 !important;
}

.fc .fc-scroller-liquid-absolute {
  scrollbar-width: thin !important;
  scrollbar-color: #b3d7ef #fff;
}

.fc .fc-scroller-liquid-absolute::-webkit-scrollbar {
  /* width: 8px; */
  border-radius: 16px;
}

.fc .fc-scroller {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

/* 🔹 Linhas mais altas */
.fc-timegrid-slot {
  height: 60px !important;
}

/* 🔹 Eventos com altura mínima */
.fc-event {
  min-height: 30px !important;
  padding: 5px !important;
  font-size: 0.9rem;
  border-radius: 6px;
  color: #565656;
}

.fc-v-event .fc-event-main {
  color: #565656;
  font-weight: bold;
  font-size: 1rem !important;
}

.fc-button.fc-button-active {
  background-color: #bedbff !important;
  color: #000 !important;
  font-weight: bold;
  border-color: #82afe6 !important;
}

.fc .fc-button-primary:not(:disabled).fc-button-active:focus,
.fc .fc-button-primary:not(:disabled):active:focus {
  box-shadow: none !important;
}

.fc .fc-button-primary:focus {
  box-shadow: rgb(96 142 207 / 23%) 0px 0px 7px 0.2rem !important;
}

.options:hover > .options::before {
  content: "";
  width: 4px;
  height: 100px;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #fff;
  border-top: 7px solid var(--after-color, transparent);
}

/* .date_select{
  background-color: #fff;
  border-radius: 8px;
} */
